{
  "statusLine": {
    "type": "command",
    "command": "{{ claude_config_path }}/statusline.sh",
    "padding": 2
  },
  "enabledPlugins": {
    "superpowers@claude-plugins-official": true,
    "claude-md-management@claude-plugins-official": true,
    "claude-code-setup@claude-plugins-official": true,
    "context7@claude-plugins-official": true
  },
  "effortLevel": "medium",
  "skipAutoPermissionPrompt": true,
  "model": "opusplan"
}
